@page "/Combo/Index"
@using CarlosCustodio_Ap1_P2.Services
@inject combosService combosService
@rendermode InteractiveServer

<PageTitle>Consulta Registro</PageTitle>

<EditForm Model="ListaCombos" class="border shadow-lg p-3 rounded">
    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Consulta Registro</h3>
    </div>
    <div class="card-body">

        @*Filtro*@
        <div class="row mb-3 align-items-end">
            <div class="col-md-3">
                <label for="Filtro" class="form-label">Filtrar por:</label>
                <select @bind="filtro" class="form-select">
                    <option value="id">ID</option>
                </select>
            </div>
            @*Boton buscar*@
            <div class="col-md-6">
                <label for="ValorFiltro" class="form-label">Búsqueda:</label>
                <div class="input-group">
                    <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                        <span class="bi bi-search"></span> Buscar
                    </button>
                </div>
            </div>
            @*Boton crear*@
            <div class="col-md-3 text-end">
                <a href="/Combo/Create" class="btn btn-success" type="button"><span class="bi bi-floppy"></span> Crear </a>
            </div>
        </div>
    </div>
    @*Tabla Registro*@
    <table class="table table-bordered text-center text-white">
        <thead class="bg-primary text-white">
            <tr>
                <th>ID</th>            
                <th>Fecha</th>            
                <th>Descripcion</th>            
                <th>Precio</th>            
                <th>Vendido</th>            
                <th>Ver</th>            
                <th>Editar</th>            
                <th>Eliminar</th>            
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ListaCombos)
            {
                <tr>
                    <td>@item.combosId</td>
                    <td>@item.fecha.ToString("dd/MM/yyyy")</td>
                    <td>@item.descripcion</td>
                    <td>@item.vendido</td>
                    <td>
                        <a class="btn btn-outline-success" href="/Combo/Details/@item.combosId">
                            <span class="bi bi-eye"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-success" href="/Combo/Edit/@item.combosId">
                            <span class="bi bi-marker-tip"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" href="/Combo/Delete/@item.combosId">
                            <span style="color: red;" class="bi bi-trash3"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</EditForm>

@code {
    public Combos combos = new Combos();
    public List<Combos> ListaCombos = new List<Combos>();

    private string filtro = "Id";
    private string valorFiltro = "";

    protected override async Task OnInitializedAsync()
    {
        ListaCombos = await combosService.Listar(c => true);
    }

    private async Task Buscar()
    {
        if (valorFiltro.Trim() != "")
        {
            if (filtro == "id" && int.TryParse(valorFiltro, out int registroId))
            {
                ListaCombos = await combosService.Listar(T => T.combosId == registroId);
            }
            // else if (filtro == "-------")
            // {
            //     ListaRegistro = await registroService.Listar(T => T.clientes != null && T.clientes.Nombre == valorFiltro);
            // }
            else
            {
                ListaCombos = await combosService.Listar(T => true);
            }
        }
    }
}
